.container{
    float: left;
    margin: 60px 20px 0 40px;
    width: 20%;
   
}

.title{
    font-size: 23px;
    margin-bottom: 10px;
    text-align: start;
    font-weight: 100;
    
}

.info p{
    text-align: start;
    margin-bottom: 10px;
}

.type{
    color: grey;
    font-size: 100;
    font-style: italic;
}