.container{
    display: inline-block;
   
}

.button{
    height: 40px;
    width: 70px;
    border: none;
    color: rgb(115, 115, 169);
    margin: 20px;
    font-size: 20px;
}

.button:hover{
    cursor: pointer;
    color: rgb(92, 92, 172);
}