.ul_list li{
  display: inline-block;
  width: 170px;
  height: 100%;
  margin: auto;
  font-size: 19px;
 
  

}
.ul_list{
  height: 100%;
}

.container{
  height: 100%;
}

.link{
  padding-top: 17px;
  display: inline-block;
  text-decoration: none;
  transition: 0.9s all;
  height: 100%;
  width: 100%;
  color: rgb(255, 246, 246);

 
}

.link:hover{
  background-color: rgba(107, 107, 107, 0.322);


}

.activelink{
  color:  rgb(115, 115, 169);
  padding-top: 17px;
  display: inline-block;
  text-decoration: none;
  transition: 0.9s all;
  height: 100%;
  width: 100%;
  border-bottom: 1.2px solid  rgb(115, 115, 169);

}

.activelink:hover{
  background-color: rgba(115, 115, 169, 0.3);
  
}


.navbar{
    width: 100%;
    height: 67px;

    border-bottom: 1.2px solid gray;
  
}