.input{
    height: 40px;
    width: 300px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1.5px solid grey;
    font-size: 18px;
    color: white;
}

.button{
    margin-top: 20px;
    width: 40px;
    height: 35px;
    border: none;
    color: rgb(115, 115, 169);
    transition: 0.9s all;
    font-size: 17px;
}

.button:hover{
    cursor: pointer;
    color: rgb(92, 92, 172);
}

.form{
    width: 80%;
    float: right;
  
}