.container_img{
     
    width: 90%;
    height: 70vh;
    margin: auto;
   
   
}

.img{
    width: 100%;
    height: 100%;
    opacity: 0.85;
 
}

.link{
    height: 70px;
    width: 200px;
    position: relative;
    bottom: 150px;
    left: 40%
}

.pres{
    width: 70%;
    margin: auto;
    color: white;
}